body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: dimgrey;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    font-size: 19px;
    padding: 15px;
}


